<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/style.css" />
    <title>Hashim</title>
  </head>
  <body>
    <header
      class="body-font fixed top-0 left-0 text-right-0 w-full bg-black z-50"
    >
      <div
        class="container mx-auto flex flex-wrap p-5 flex-row sm:flex-col md:flex-row items-center justify-between"
      >
        <a class="flex title-font font-medium items-center sm:mb-4 md:mb-0">
          <div class="ml-3 text-3xl font-bold">
            <span class="text-emerald-500">HASH</span>
            <span>Inc.</span>
          </div>
        </a>
        <nav
          class="hidden sm:flex md:ml-auto flex-wrap items-center text-base justify-center"
        >
          <a class="mr-5 hover:text-gray-200 cursor-pointer">Home</a>
          <a class="mr-5 hover:text-gray-200 cursor-pointer">About</a>
          <a class="mr-5 hover:text-gray-200 cursor-pointer">Services</a>
          <a class="mr-5 hover:text-gray-200 cursor-pointer">Contact</a>
        </nav>
        <div
          class="flex gap-1 flex-col items-center sm:hidden mobile-nav-btn cursor-pointer"
        >
          <div class="w-8 bg-white h-1 rounded-lg"></div>
          <div class="w-8 bg-white h-1 rounded-lg"></div>
          <div class="w-8 bg-white h-1 rounded-lg"></div>
        </div>
      </div>
      <div class="mobile-nav">
        <div class="p-8 flex flex-col text-white w-full">
          <a class="mr-5 hover:">Home</a>
          <a class="mr-5 hover:">About</a>
          <a class="mr-5 hover:">Services</a>
          <a class="mr-5 hover:">Contact</a>
        </div>
      </div>
    </header>

    <section class="body-font mt-[76px]">
      <div
        class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
      >
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
        >
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium">
            Smart AI Meets Auto Expertise
            <br class="hidden lg:inline-block" />
            <span
              class="text-gray-400 text-sm"
              >Chat with our intelligent assistant for car info or service bookings. 
            </span>
          </h1>
          <p class="mb-8 leading-relaxed">
            Discover our smart chatbot built with FastAPI to guide you through car
            inquiries and effortless service bookings. It captures your details safely
            and connects you to our expert team. Whether you're buying, browsing, or
            booking, our assistant ensures speed, ease, and satisfaction every time.
          </p>
          <div class="flex justify-center">
            <button
              onclick="toggleChat()"
              class="inline-flex text-white bg-emerald-500 border-0 py-2 px-6 focus:outline-none hover:bg-emerald-600 rounded text-lg"
            >
              Talk to Our Chatbot
            </button>
          </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-1/2">
          <img
            class="object-cover object-center rounded-md"
            alt="hero"
            src="static/car-1.jpg"
          />
        </div>
      </div>
    </section>

    <footer class="text-gray-400 body-font">
      <div
        class="container px-5 py-0 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-white"
        >
          <span class="ml-3 text-xl"
            ><span class="text-emerald-500">ABC</span>DEF</span
          >
        </a>
        <p
          class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"
        >
          © 2020 — ABCDEF
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="text-gray-400">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>

    <button
      class="chat-button bg-emerald-500 hover:scale-110 hover:bg-emerald-600 duration-75"
      onclick="toggleChat()"
    >
      💬
    </button>

    <div class="chat-window hidden" id="chatWindow">
      <div class="chat-header bg-emerald-500">Chat</div>
      <div class="chat-body" id="chatBody"></div>
      <div class="chat-footer">
        <input
          type="text"
          class="chat-input w-full outline-none"
          id="chatInput"
          placeholder="Type your message..."
        />
        <button
          class="send-button bg-emerald-500 w-fit text-center"
          onclick="handleSend()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#fff"
            viewBox="0 0 256 256"
          >
            <path
              d="M231.87,114l-168-95.89A16,16,0,0,0,40.92,37.34L71.55,128,40.92,218.67A16,16,0,0,0,56,240a16.15,16.15,0,0,0,7.93-2.1l167.92-96.05a16,16,0,0,0,.05-27.89ZM56,224a.56.56,0,0,0,0-.12L85.74,136H144a8,8,0,0,0,0-16H85.74L56.06,32.16A.46.46,0,0,0,56,32l168,95.83Z"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <script src="static/script.js"></script>
  </body>
</html>
